<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/images/pexels-andrea-piacquadio-3837268.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/pexels-emre-keshavarz-3707987.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/pexels-jj-jordan-4106090.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/pexels-jonathan-borba-5723438 (1).jpg">
    </ion-slide>
  </ion-slides>
</ion-content>
