<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-test-center">
      {{maitest}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-row>
    <ion-col size="12">
      <h3 class="ion-text-center">Image name</h3>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-label position="floating">Input Image Link</ion-label>
    <ion-input [(ngModel)]="getImageLink"></ion-input>
  </ion-item>

  <img src="{{imageLink}}">

  <ion-button (click)="imagefun()" expand="block"  shape="round">
    Load Image
  </ion-button>

  <ion-button [routerLink] = "'/video'" color="success">Go to Video Page</ion-button>
  <ion-button (click)="onClick()" color="medium">Medium</ion-button>
  <ion-button [routerLink]="'/chat'" color="tertiary">Chat</ion-button>

</ion-content>
